<div class="blog app-pages app-section">
		<div class="container">
			<div class="entry" ng-repeat="(key,desafio) in desafios">
				<img src="img/barrabrava.png" alt="">
				<div class="user-date">
					<ul>
						<li><a href=""><i class="fa fa-user"></i> Admin</a></li>
						<li><a href=""><i class="fa fa-clock-o"></i> 2017-06-07</a></li>
					</ul>
				</div>
				<div class="content">
					<h5><a href="">{{desafio[key].nome}}</a></h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt nemo tempore itaque voluptates. Temporibus iste, illo eius ex ducimus eligendi animi possimus aliquam excepturi omnis eaque veritatis ad. Atque, quas.</p>
				</div>
			</div>
			
			<div class="pagination">
				<ul>
					<li><a href="">Primeiro</a></li>
					<li class="active"><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">Ultimo</a></li>
				</ul>
			</div>
		</div>
	</div>