<!-- offers -->
	

	<!-- end slider -->
	<div class="offers">
		<div class="container">
			<div class="row">
				<a href="/desafios">
					<div class="col s6">
						<div class="entry">
							<i class="fa fa-universal-access"></i>
							<h5>Copa São Paulo</h5>
							<p>Estes são os times do seu estado</p>
						</div>
					</div>
				</a>
				<div class="col s6">
					<div class="entry">
						<i class="fa fa-universal-access"></i>
						<h5>Liga Regional</h5>
						<p>Estes são os times  da sua região do pais</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="entry">
						<i class="fa fa-universal-access"></i>
						<h5>Liga Nacional</h5>
						<p>Estes são todos os times nacionais</p>
					</div>
				</div>
				<div class="col s6">
					<div class="entry">
						<i class="fa fa-universal-access"></i>
						<h5>Copa IBM</h5>
						<p>Evento do nerdzão 14/11</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end offers -->

	<!-- note -->
	<div class="note app-section">
		<img src="img/banner1.png" width="100%">
	</div>
	<!-- end note -->

	<!-- courses -->
	<div class="courses app-section">
		<div class="container">
			<div class="app-title">
				<h4>Sem times , esses estão com inscrições abertas !!!</h4>
				[ver todos]
				<div class="line"></div>
			</div>
			<div class="row">
				
				<div class="col s6"  ng-class="$even ? 'odd' : 'even'" ng-repeat="equipe_aberta in equipes_sistema">
				<a href="/equipe/{{equipe_aberta.$id}}">
					<div class="entry">
						<img src="img/lafuuria.jpeg" alt="">
						<h6><a href="">{{equipe_aberta.nome}}</a></h6>
						<div class="rating">
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
						</div>
						<div class="price">
							<h5>#2</h5>
						</div>
					</div>
					</a>
				</div>
			</div>
			
		</div>
	</div>
	<!-- end courses -->

	<!-- note -->
	<div class="note app-section">
		<div class="container">
			<h5>Liga Global Fut PRO</h5>
			<p>Pontos corridos: 1° fase Dividindo às equipes em grupos, Somente 1 jogo com cada equipe.
Mata-Mata: Somente 1 jogo com cada equipe, à quantidade de equipes no mata-mata dependerá da quantidade de equipes no campeonato.<br>
Os melhores colocados na fase de grupos terão vantagem até á semi-final em caso de empate.</p>
			<button class="button">Se inscrever</button>
		</div>
	</div>
	<!-- end note -->

	<!-- ebook -->
	<div class="ebook app-section">
		<div class="container">
			<div class="app-title">
				<h4>Copa</h4>
				<div class="line"></div>
			</div>
			<div class="row">
				<div class="col s4">
					<div class="entry">
						<img src="img/champions.png" alt="">
						<h6><a href="">Champions</a></h6>
						<div class="rating">
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
						</div>
						<div class="price">
							<h5>Free</h5>
						</div>
					</div>
				</div>
				<div class="col s4">
					<div class="entry">
						<img src="img/ebook3.png" alt="">
						<h6><a href="">Vs</a></h6>
						
						<div class="price">
							<h5> $ 400</h5>
						</div>
					</div>
				</div>
				<div class="col s4">
					<div class="entry">
						<img src="img/lafuuria.jpeg" alt="">
						<h6><a href="">La Furia</a></h6>
						<div class="rating">
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class=""><i class="fa fa-star"></i></span>
						</div>
						<div class="price">
							<h5>#2</h5>
						</div>
					</div>
				</div>
				
	
			</div>
			<div class="row">
						<div class="col s4">
					<div class="entry">
						<img src="img/barrabrava.png" alt="">
						<h6><a href="">Barra Brava</a></h6>
						<div class="rating">
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class=""><i class="fa fa-star"></i></span>
						</div>
						<div class="price">
							<h5>#22</h5>
						</div>
					</div>
				</div>
				<div class="col s4">
					<div class="entry">
						<img src="img/ebook3.png" alt="">
						<h6><a href="">vs</a></h6>
						
						<div class="price">
							<h5>$200</h5>
						</div>
					</div>
				</div>
				<div class="col s4">
					<div class="entry">
						<img src="img/fifabahia.jpeg" alt="">
						<h6><a href="">Fifa Bahia</a></h6>
						<div class="rating">
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
							<span class="active"><i class="fa fa-star"></i></span>
						</div>
						<div class="price">
							<h5>$11</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end ebook -->

	<!-- testimonial -->
	<div class="testimonial testimonial-home">
		<div class="container">
			<div id="testimonial" class="owl-carousel owl-theme">
				<div class="item">
					<i class="fa fa-quote-left"></i>
					<p>Ja ganhei bastante dinheiro com meu passe</p>
					<img src="img/cardifparaloko.png" alt="">
					<h6>Paraloko</h6>
					<strong>Champions Fifa Br  @meio campo</strong>
				</div>
				<div class="item">
					<i class="fa fa-quote-left"></i>
					<p>To sem time , alguem chama eu !!!</p>
					<img src="img/carifcoring.png" alt="">
					<h6>The Coring </h6>
					<strong>@zagueiro</strong>
				</div>
				<div class="item">
					<i class="fa fa-quote-left"></i>
					<p>nego num para de me chamar de mini saia </p>
					<img src="img/cardifcamisola.png" alt="">
					<h6>Minicelli</h6>
					<strong>Champions Fifa Br @atacante</strong>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonial -->

	<!-- latest-news -->
	<div class="latest-news app-section">
		<div class="container">
			<div class="app-title">
				<h4>Proximos confrontos</h4>
				<div class="line"></div>
			</div>
			<div class="row">
				<div class="col s6">
					<div class="entry">
						<img src="img/blog-1.png" alt="">
						<h5><a href="">22/10/2007 17:30</a></h5>
						<p>Champions x Barra Brava</p>
					</div>
				</div>
				<div class="col s6">
					<div class="entry">
						<img src="img/blog-1.png" alt="">
						<h5><a href="">22/10/2007 17:30</a></h5>
						<p>Champions x Barra Brava</p>
					</div>
				</div>
			</div>
			<div class="row row-last">
				<div class="col s6">
					<div class="entry">
						<img src="img/blog-1.png" alt="">
						<h5><a href="">22/10/2007 17:30</a></h5>
						<p>Champions x Barra Brava</p>
					</div>
				</div>
				<div class="col s6">
					<div class="entry">
						<img src="img/blog-1.png" alt="">
						<h5><a href="">22/10/2007 17:30</a></h5>
						<p>Champions x Barra Brava</p>
					</div>
				</div>
			</div>
		</div>
	</div>
