<div class="product-details app-pages app-section">
		<div class="container">
			<div class="entry">
				<div class="row">
					<div class="big-image">
						<div id="choose1" class="col s12" style="display: none;">
							<img ng-src="img_dir/{{brasao}}"  alt="">
						</div>
						<div id="choose2" class="col s12" style="display: none;">
							<img ng-src="img_dir/{{avatar}}" alt="">
						</div>
						<div id="choose3" class="col s12" style="display: block;">
							<img src="img_dir/player.png" alt="">
						</div>
					</div>
					<div class="col s12">
						<ul class="tabs">
							<li class="tab col s4">
								<a href="#choose1" class="">
									<img ng-src="img_dir/{{brasao}}" alt="">
								</a>
							</li>
							<li class="tab col s4">
								<a href="#choose2" class="">
									<img ng-src="img_dir/{{avatar}}" alt="">
								</a>
							</li>
							<li class="tab col s4">
								<a href="#choose3" class="active">
									<img src="img_dir/player.png" alt="">
								</a>
							</li>
						<div class="indicator" style="right: -0.3125px; left: 853.312px;"></div><div class="indicator" style="right: -0.3125px; left: 853.312px;"></div></ul>
					</div>
				</div>
			</div>
			<div class="details">
				<h5>Nome Time : {{minhas_equipes[0].nome}}</h5>
				<div class="rating">
                    <span class="active"><i class="fa fa-star"></i></span>
                    <span class="active"><i class="fa fa-star"></i></span>
                    <span class="active"><i class="fa fa-star"></i></span>
                    <span class="active"><i class="fa fa-star"></i></span>
                    <span class=""><i class="fa fa-star"></i></span>
                </div>
				<p>{{minhas_equipes[0].criado| date:'d/M/yyyy HH:mm:ss'}}</p>
				<div class="price"><h5>$20 000 00</h5></div>
				<button class="button" ng-click="get_infos()">Atualizar informações da minha conta</button>
				
				<small>Informações compartilhadas do facebook</small>
			</div>
			<div class="desc-review">
				<div class="row">
					<div class="col s12">
						<ul class="tabs">
							<li class="tab col s6">
								<a href="#jogador" class=""><h5>Jogador</h5></a>
							</li>
							<li class="tab col s6">
								<a href="#time" class="active"><h5>Time</h5></a>
							</li>
						<div class="indicator" style="right: 0px; left: 640px;"></div><div class="indicator" style="right: 0px; left: 640px;"></div></ul>
					</div>
					<div id="jogador" class="col s12" style="display: none;">
						
					<div class="comment">
							<div class="content">
								<img ng-src="img_dir/{{avatar}}" alt="">
								<div class="entry">
									<strong><a href="">{{jogadores[0].nome}}</a></strong>
									<div class="rating">
					                    <span class="active"><i class="fa fa-star"></i></span>
					                    <span class="active"><i class="fa fa-star"></i></span>
					                    <span class="active"><i class="fa fa-star"></i></span>
					                    <span class="active"><i class="fa fa-star"></i></span>
					                    <span class=""><i class="fa fa-star"></i></span>
					                </div>
									<p>Criado em : <strong>{{jogadores[0].criado| date:'d/M/yyyy HH:mm:ss'}}</strong></p>
									<ul>
										<li ng-repeat="pontos_jogador in jogador_stats" ng-if="pontos_jogador != ''">
											{{pontos_jogador}} : <strong>{{stats[0].points[$index]}}</strong>
										</li>
									</ul>
								</div>
							</div>
							</div>
							
						
						
					</div>
					<div id="time" class="review col s12" style="display: block;">
					{{equipe.nome}}
						<div class="comment">
							<div class="content" ng-repeat="jogador in minha_equipe_sistema['jogadores']">
								<img ng-src="img_dir/{{avatar}}" alt="{{jogador.nome}}">
								<div class="entry">
									<strong><a href="">{{jogador.nome}}</a></strong>
									<div class="rating">
					                    <span class="active"><i class="fa fa-star"></i></span>
					                    <span class="active"><i class="fa fa-star"></i></span>
					                    <span class="active"><i class="fa fa-star"></i></span>
					                    <span class="active"><i class="fa fa-star"></i></span>
					                    <span class=""><i class="fa fa-star"></i></span>
					                </div>
									<p>{{jogador.criado| date:'d/M/yyyy HH:mm:ss'}}/p>
								</div>
							</div>
		
							<div class="post-review">
								<h6>Quero entrar nesse time</h6>
								<form action="#">
									

									<button class="button">Me candidatar</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		
		$(function(){
			'use-strict';

			// sidenav control left
			$(".sidenav-control").sideNav({
				edge: 'left',
				closeOnClick: false
			});

			// panel collapse icon
			$(document).on("click",".collapsible-header",function(e){
			    $(this).parent().siblings().find('span i').removeClass('fa-chevron-down')
				$(this).find('span i').toggleClass('fa-chevron-down')
			});

	
			
			// faq collapse icon
			$(document).on("click",".faq-collapsible",function(e){
			    $(this).parent().siblings().find('i').removeClass('fa-minus')
				$(this).find('i').toggleClass('fa-minus')
			});

			// testimonial
			$("#testimonial").owlCarousel({
		      	slideSpeed : 300,
		      	paginationSpeed : 400,
		      	singleItem: true
		  	});

			// tabs
			$('ul.tabs').tabs(); 
		  

		});

	</script>